{% extends './layout.html' %}
{% block content %}
	<table id="articles_table"></table>
	<div id="tb">
	    <a href="/admin/articleAdd?g1=3&g2=1" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>添加文章</a>
	    <div class="btn btn-warning" @click="CallArticlePopWin('edit')"><span class="glyphicon glyphicon-pencil"></span>修改文章</div>
	    <div class="btn btn-danger" @click="CallArticlePopWin('del')"><span class="glyphicon glyphicon-minus"></span>删除文章</div>
	</div>
{% endblock %}
{% block popwin %}
	<!-- 删除文章弹窗 start -->
	<div class="modal fade" id="del_article">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" id="del_article_title">删除文章</h4>
				</div>
				<div class="modal-body">
					<p>确定要删除选中的文章？</p>
					<p class="text-danger">注：该文章下的所有评论也将被删除。</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" @click="DelArticle">确定</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 删除文章弹窗 end -->
{% endblock %}
{% block script %}
	<script src="/public/js/ad_articles.js"></script>
{% endblock %}