@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?68448o');
    src:    url('fonts/icomoon.eot?68448o#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?68448o') format('truetype'),
        url('fonts/icomoon.woff?68448o') format('woff'),
        url('fonts/icomoon.svg?68448o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gold:before {
    content: "\e905";
}
.icon-up-arrow:before {
    content: "\343e";
}
.icon-gift:before {
    content: "\e600";
}
.icon-right-arrow:before {
    content: "\e603";
}
.icon-lock:before {
    content: "\e606";
}
.icon-mail:before {
    content: "\e608";
}
.icon-clock:before {
    content: "\e60b";
}
.icon-money:before {
    content: "\e60f";
}
.icon-myHome:before {
    content: "\e610";
}
.icon-coupon:before {
    content: "\e611";
}
.icon-phone-hollow:before {
    content: "\e612";
}
.icon-bell:before {
    content: "\e614";
}
.icon-down-arrow-triangle:before {
    content: "\e615";
}
.icon-mail-hollow:before {
    content: "\e616";
}
.icon-solid-disc:before {
    content: "\e61e";
}
.icon-bank-card-01:before {
    content: "\e61f";
}
.icon-weixin-disc:before {
    content: "\e625";
}
.icon-qq:before {
    content: "\e62d";
}
.icon-sina-disc:before {
    content: "\e62e";
}
.icon-bank-card-02:before {
    content: "\e633";
}
.icon-flag:before {
    content: "\e646";
}
.icon-bell-solid:before {
    content: "\e64a";
}
.icon-friend:before {
    content: "\e64d";
}
.icon-weixin:before {
    content: "\e65a";
}
.icon-qr-code:before {
    content: "\e65b";
}
.icon-phone:before {
    content: "\e65e";
}
.icon-up-arrow-triangle:before {
    content: "\e67f";
}
.icon-right-arrow-triangle:before {
    content: "\e680";
}
.icon-protect:before {
    content: "\e682";
}
.icon-set:before {
    content: "\e698";
}
.icon-check-right-hollow:before {
    content: "\e6c5";
}
.icon-android-disc:before {
    content: "\e6d1";
}
.icon-apple-disc:before {
    content: "\e6d2";
}
.icon-id-card:before {
    content: "\e70a";
}
.icon-mobile:before {
    content: "\e900";
}
.icon-check-right:before {
    content: "\e901";
}
.icon-check-error:before {
    content: "\e902";
}
.icon-apple:before {
    content: "\e903";
}
.icon-android:before {
    content: "\e904";
}
.icon-bills:before {
    content: "\e602";
}
.icon-money-arrow:before {
    content: "\e604";
}
.icon-member:before {
    content: "\e605";
}
.icon-property:before {
    content: "\e609";
}
.icon-wallet:before {
    content: "\e60a";
}
.icon-ratio:before {
    content: "\e60c";
}
.icon-register:before {
    content: "\e60e";
}
.icon-recharge:before {
    content: "\e617";
}
.icon-right-arrow-disc:before {
    content: "\e629";
}
.icon-shield:before {
    content: "\e640";
}
.icon-down-arrow:before {
    content: "\e6cb";
}
.icon-record:before {
    content: "\e712";
}
.icon-share:before {
    content: "\f001d";
}

